<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978496020415-n0opscc9e32s87ilo3s7h7uc6sei43rj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978496020415-n0opscc9e32s87ilo3s7h7uc6sei43rj</string>
	<key>API_KEY</key>
	<string>AIzaSyCXfgpnFtBwv0kbwlzvdCHEkl8LzGuRt0U</string>
	<key>GCM_SENDER_ID</key>
	<string>978496020415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onigiri.eastarrowApp</string>
	<key>PROJECT_ID</key>
	<string>eastarrow-app</string>
	<key>STORAGE_BUCKET</key>
	<string>eastarrow-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978496020415:ios:2b8abaf51de22aa6bf0b0a</string>
</dict>
</plist>